:root.theme\:light {
	--colour-accent-primary: #fff;
	--colour-accent-secondary: #ddd;
	--colour-text-primary: #272829;
	--colour-text-secondary: #5a5c5e;
	--colour-background-primary: #ebf0f7;
	--colour-background-secondary: #e1e6ed;
}
