@charset 'utf-8';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* @font-face {
	font-family: Uniform;
	font-weight: 700;
	font-style: normal;
	src: url(../raw/fonts/Uniform-Bold.eot);
	src: url(../raw/fonts/Uniform-Bold.otf) format("otf");
	src: url(../raw/fonts/Uniform-Bold.ttf) format("ttf");
	src: url(../raw/fonts/Uniform-Bold.woff) format("woff");
} */
